<section class="hero-section py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                <h1 class="site-headline font-weight-bold mb-3">WE OFFER MORE THAN REAL ESTATE WE OFFER YOU A LIFE STYLE
                </h1>
                <div class="site-tagline mb-4">Find your dreaming units with different variations of prices and many
                    places close to the downtown</div>
                <div class="cta-btns mb-lg-3">

                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" routerLink="/register"  *ngIf="!user.isLogIn">
                        Register
                        <svg class="svg-inline--fa fa-circle-right ms-2 arow" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="circle-right" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M512 256c0-141.4-114.6-256-256-256S0 114.6 0 256c0 141.4 114.6 256 256 256S512 397.4 512 256zM265.9 382.8C259.9 380.3 256 374.5 256 368v-64H160c-17.67 0-32-14.33-32-32v-32c0-17.67 14.33-32 32-32h96v-64c0-6.469 3.891-12.31 9.875-14.78c5.984-2.484 12.86-1.109 17.44 3.469l112 112c6.248 6.248 6.248 16.38 0 22.62l-112 112C278.7 383.9 271.9 385.3 265.9 382.8z">
                            </path>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/login" *ngIf="!user.isLogIn">
                        Login
                        <svg class="svg-inline--fa fa-circle-right ms-2 arow" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="circle-right" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M512 256c0-141.4-114.6-256-256-256S0 114.6 0 256c0 141.4 114.6 256 256 256S512 397.4 512 256zM265.9 382.8C259.9 380.3 256 374.5 256 368v-64H160c-17.67 0-32-14.33-32-32v-32c0-17.67 14.33-32 32-32h96v-64c0-6.469 3.891-12.31 9.875-14.78c5.984-2.484 12.86-1.109 17.44 3.469l112 112c6.248 6.248 6.248 16.38 0 22.62l-112 112C278.7 383.9 271.9 385.3 265.9 382.8z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img class="hero-figure mx-auto" src="assets/images/promo-figure.png" alt="">
            </div>
            <hr>
        </div>
    </div>
</section>