<div class=" pt-5 pb-4">
  <section class="vh-80 ">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  <form class="mx-1 mx-md-4" [formGroup]="registerForm" (keyup.enter)="handleRegister()">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="FirstName" class="form-control" formControlName="firstName" />
                        <label class="form-label" for="FirstName">First Name</label>
                      </div>
                    </div>

                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && firstName?.invalid">

                      <div *ngIf="firstName?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        First Name is required
                      </div>
                      <div *ngIf="firstName?.errors?.['pattern']">
                        Invalid Name name must be chracters
                        <br>
                        {{firstName?.errors?.['pattern'] |json}}
                      </div>

                      <div *ngIf="firstName?.errors?.['minlength']">
                        Min length is 3
                        <br>
                        {{firstName?.errors?.['minlength'] |json}}
                      </div>
                      <div *ngIf="firstName?.errors?.['maxlength']">
                        Max length is 10
                        <br>
                        {{firstName?.errors?.['maxlength'] |json}}
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="LastName" class="form-control" formControlName="lastName" />
                        <label class="form-label" for="LastName">Last Name</label>
                      </div>

                    </div>

                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && lastName?.invalid">

                      <div *ngIf="lastName?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        Last Name is required
                      </div>
                      <div *ngIf="lastName?.errors?.['pattern']">
                        Invalid Name name must be chracters
                        <br>
                        {{lastName?.errors?.['pattern'] |json}}
                      </div>

                      <div *ngIf="lastName?.errors?.['minlength']">
                        Min length is 3
                        <br>
                        {{lastName?.errors?.['minlength'] |json}}
                      </div>

                      <div *ngIf="lastName?.errors?.['maxlength']">
                        Max length is 10
                        <br>
                        {{lastName?.errors?.['maxlength'] |json}}
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <label class="form-label" for="gender">Gender</label>
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="male"
                            formControlName="gender" value="male">
                          <label class="form-check-label" for="male">
                            Male
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="female"
                            formControlName="gender" value="female">
                          <label class="form-check-label" for="female">
                            Female
                          </label>
                        </div>
                      </div>
                    </div>



                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && gender?.invalid">

                      <div *ngIf="gender?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        This feld is required
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="number" id="Age" class="form-control" formControlName="age" />
                        <label class="form-label" for="Age">Age</label>
                      </div>
                    </div>


                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && age?.invalid">

                      <div *ngIf="age?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        Age is required
                      </div>

                      <div *ngIf="age?.errors?.['min']">
                        Min age is 18
                        <br>
                        {{age?.errors?.['min'] |json}}
                      </div>

                      <div *ngIf="age?.errors?.['max']">
                        Max age is 60
                        <br>
                        {{age?.errors?.['max'] |json}}
                      </div>
                    </div>









                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="email" class="form-control" formControlName="email" />
                        <label class="form-label" for="email">Your Email</label>
                      </div>
                    </div>





                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && email?.invalid">

                      <div *ngIf="email?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        Email is required
                      </div>

                      <div *ngIf="email?.errors?.['pattern']">
                        Invalid Email
                        <br>
                        {{email?.errors?.['pattern'] |json}}
                      </div>
                      <br>
                      <div *ngIf="email?.errors?.['email']">
                        Invalid Email
                        <br>
                        {{email?.errors?.['max'] |json}}
                      </div>
                    </div>





                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNum" />
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                      </div>
                    </div>





                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && phoneNum?.invalid">

                      <div *ngIf="phoneNum?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        Phone number required
                      </div>

                      <div *ngIf="phoneNum?.errors?.['minlength']">
                        Min number is 11
                        <br>
                        {{phoneNum?.errors?.['min'] |json}}
                      </div>

                      <div *ngIf="phoneNum?.errors?.['maxlength']">
                        Max number is 11
                        <br>
                      </div>
                      <div *ngIf="phoneNum?.errors?.['pattern']">
                        Invalid Phone number
                        <br>
                        {{phoneNum?.errors?.['pattern'] |json}}
                      </div>
                    </div>











                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password" class="form-control" formControlName="password" />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>





                    <div class=" alert alert-danger  d-flex flex-row align-items-center mb-4"
                      *ngIf="isSubmit && password?.invalid">

                      <div *ngIf="password?.errors?.['required']" class=" form-outline flex-fill mb-0">
                        Password number required
                      </div>

                      <div *ngIf="phoneNum?.errors?.['minlength']">
                        Min number is 11
                        <br>
                        {{password?.errors?.['min'] |json}}
                      </div>

                      <div *ngIf="password?.errors?.['maxlength']">
                        Max number is 11
                        <br>
                      </div>
                      <div *ngIf="password?.errors?.['pattern']">
                        Invalid Phone number
                        <br>
                        {{password?.errors?.['pattern'] |json}}
                      </div>
                    </div>




                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="RepeatedPassword" class="form-control"
                          formControlName="repeatedPassword" />
                        <label class="form-label" for="RepeatedPassword">Repeat your password</label>
                      </div>
                    </div>




                    <div class="alert alert-danger" *ngIf="isSubmit && errorFlag">
                      <div>
                        {{errorMsg}}
                      </div>
                    </div>



                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    </div>

                  </form>

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                  <img
                    src="https://img.freepik.com/free-vector/employees-cv-candidates-resume-corporate-workers-students-id-isolate-flat-design-element-job-applications-avatars-personal-information-concept-illustration_335657-1661.jpg?w=826&t=st=1674953658~exp=1674954258~hmac=03d8ba3c1249c4c24cf31c5d8006ad4286485a309c8fb9ef00d70b24c3ce5b76"
                    class="img-fluid" alt="Sample image">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>